@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("../css/animate.css");

$crimson: "Crimson Text", serif;

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (max-width: 1230px) {
  .container {
    max-width: 100%;
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header {
  height: 55px;
  position: relative;

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 55px;
    background-color: #2e3192;
    z-index: 999;
    border-bottom: 1px solid rgba(236, 236, 236, 0.06);

    .navbar-brand {
      width: 160px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        .nav-item {
          a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            line-height: 24px;
            padding: 8px 18px;
            font-weight: 500;
            transition: all 0.4s ease-in-out;

            &:hover {
              transition: all 0.4s ease-in-out;
              color: rgba(255, 255, 255, 1);
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: #fff;
          }
        }

        .nav-btn {
          a {
            font-size: 16px;
            min-height: 30px;
            line-height: 22px;
            border-radius: 4px;
            padding: 8px 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-account {
  padding-left: 10px;

  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 24px;
        padding: 8px 20px 0px 20px;
        position: relative;
        top: -3px;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
}


.header .navbar.fixed-top  {

  .collapse1 .navbar-nav .nav-item a {
    color: rgba(46, 49, 146, 0.8);
    font-weight: 500;
  
    &:hover {
      color: rgba(46, 49, 146, 1);
      font-weight: 500;
    }

    &.active {
      color: rgba(46, 49, 146, 1);
      font-weight: 500;
    }
  }

  .user-account ul li a {
    color: rgba(46, 49, 146, 0.8);
    font-weight: 500;
  
    &:hover {
      color: rgba(46, 49, 146, 1);
      font-weight: 500;
    }

    &.actie {
      color: rgba(46, 49, 146, 1);
      font-weight: 500;
    }
  }
}
/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 18px;
    color: #181818;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #848484;
    height: 50px;
    background-color: #fff;    
    font-size: 18px;
    box-shadow: none;
    outline: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    height: 60px;

    &:focus {
      border-color: #071b23 !important;
      color: #000;
    }
  }

  textarea.form-control {
    height: 150px;
    padding: 12px 20px;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  height: 30px;
  width: 30px;
  background-color: #000;
  border-color: #000;
}

.custom-control-label {
  padding-left: 30px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.custom-control-label::before {
  height: 30px;
  width: 30px;
}

.custom-control-label::after {
  height: 30px;
  width: 30px;
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.btn.btn-outline-primary {
  border-radius: 100px;
  color: #000;
  border-color: #000;
  padding: 12px 40px;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:focus {
    background-color: #000;
    color: #fff;
  }

  &:active {
    background-color: #000;
    color: #fff;
  }
}

.btn.btn-outline-primary.btn-white {
  border-radius: 100px;
  color: #fff;
  border-color: #fff;
  padding: 12px 40px;
  box-shadow: none;

  &:hover {
    background-color: #fff;
    color: #2e3192;
  }

  &:focus {
    background-color: #fff;
    color: #2e3192;
  }

  &:active {
    background-color: #fff;
    color: #2e3192;
  }
}

/*  middle section start here */

.middle-section {
  height: auto;

  .banner-section {
    height: auto;
    background-color: #2e3192;

    .content {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 100vh;
      flex-direction: column;

      h3 {
        color: #fff;
        font-size: 34px;
        line-height: 48px;
        margin-bottom: 30px;
      }

      a {
        font-size: 24px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        align-items: center;
        transition: all 0.3s;
        font-family: $crimson;

        i {
          transition: all 0.6s;
          position: relative;
          top: 4px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: all 0.3s;

          i {
            padding-left: 20px;
            transition: all 0.6s;
          }
        }
      }
    }

    .banner-img {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      left: 0;

      img {
        width: 100%;
        min-width: 676px;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }

    .owl-theme {
      .owl-dots {
        position: absolute;
        left: 0;
        bottom: 10px;

        button {
          box-shadow: none;
          outline: 0;

          span {
            background-color: transparent;
            border: 1px solid #fff;
          }
        }

        .active {
          span {
            background-color: #fff;
          }
        }
      }
    }
  }

  .trending-section {
    background-color: #fff;
    padding: 70px 0;

    .heading {
      margin-bottom: 90px;

      h3 {
        font-size: 62px;
        line-height: 75px;
        color: #000;
        font-family: $crimson;
      }
    }

    .technology-left {
      padding: 40px 30px;

      h3 {
        font-size: 32px;
        line-height: 54px;
        color: #848484;
      }

      .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 40px;

        .profile-img {
          height: 99px;
          width: 99px;
          border-radius: 100px;

          img {
            width: 100%;
          }
        }

        .profile-content {
          padding: 10px 20px;

          h3 {
            font-size: 32px;
            line-height: 40px;
            color: #000;
            font-family: $crimson;
            margin-bottom: 5px;
          }

          p {
            font-size: 22px;
            line-height: 26px;
            color: #000;
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -60px;
          position: absolute;
        }

        .owl-next {
          right: -60px;
          position: absolute;
        }

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(1, 36, 55, 0);
          background-color: transparent;
          border-radius: 100%;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            background-color: #2e3192;
            transition: all 0.3s;
            border: 1px solid #2e3192;
            color: #fff;
          }
        }
      }
    }

    .technology-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .buisness-needs-section {
    background-color: #2e3192;
    padding: 140px 0 0 0;

    

    .heading {
      text-align: center;
      padding-bottom: 70px;

      h3 {
        font-size: 44px;
        line-height: 66px;
        color: #fff;
        margin-bottom: 30px;
      }

      p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 28px;
      }
    }

    .owl-stage {
      transform: translate3d(1,1);
    }

    .buiness {
      position: relative;
      max-height: 800px;
      min-height: 800px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.02);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition: all 0.3s;
      }

      .buisness-box {
        padding: 50px 80px 50px 50px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        z-index: 99;
        transition: all 0.6s ease-in-out;
        border-right: 1px solid rgba(255, 255, 255,0.2);

        h3 {
          color: #fff;
          font-size: 44px;
          line-height: 29px;
          margin-bottom: 15px;
          font-family: $crimson;
        }

        .featured {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-out 0.15s;
        }

        P {
          font-size: 18px;
          line-height: 28px;
          color: #fff;
          margin-bottom: 20px;

        }

        a {
          color: #fff;
          border: 1px solid #fff;
          height: 56px;
          width: 56px;
          font-size: 18px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;


          i {
            font-size: 20px;
          }
        }
      }

      &:hover {
        .buisness-box {
          transition: all 0.6s ease-in-out;
          h3 {
            color: #fff;
          }

          p {
            color: #fff;
       
          }

          .featured {
            max-height: 120px;
            transition: max-height 0.5s ease-out 0.15s;
          }

          a {
            background-color: #fff;
            color: #2e3192;
            i {
              font-size: 22px;
            }
          }
        }

        &::after {
          background-color: rgba(0, 0, 0, 0.15);
          transition: all 0.3s;
          border-right: 1px solid transparent;
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: -100px;
        right: 100px;
        left: auto;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(1, 36, 55, 0);
          background-color: #fff;
          border-radius: 100%;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            background-color: #fff;
            transition: all 0.3s;
            border: 1px solid #2e3192;
            color: #2e3192;
          }
        }
      }
    }

    .owl-item.center {

   
        .buiness {
          margin: 0 !important;
          .buisness-box {
            .featured {
              max-height: 180px;
            }
          }
        
      }
    }

    // new
   
    .buisness-slides {
      position: relative;
      .b-slide {
        background-image: url(../images/slides/slide-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      .b-slide.active {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      .slide-one {
        background-image: url(../images/slides/slide-1.jpg);
      }

      .slide-two {
        background-image: url(../images/slides/slide-2.jpg);
 
      }

      .slide-three {
        background-image: url(../images/slides/slide-3.jpg);
      }

      .slide-four {
        background-image: url(../images/slides/slide-4.jpg);
      }
    }
  }

  .testimomnial-section {
    padding: 140px 0 40px 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      background-image: url(../images/pattern.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 743px;
      height: 718px;
      position: absolute;
      left: -150px;
      top: 400px;
      z-index: 0;
    }

    .testimonial-area {
      background-image: url(../images/bg-testimonial.jpg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 60px;
      border-radius: 40px;
      z-index: 3;
      position: relative;

      .testimonials {
        padding: 50px 60px;
        text-align: center;

        .testimonial-img {
          height: 128px;
          width: 128px;
          border-radius: 100px;
          overflow: hidden;
          margin: 0 auto;
          margin-bottom: 50px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        h3 {
          font-size: 26px;
          line-height: 44px;
          font-weight: 400;
          color: #fff;
        }

        .author {
          padding-top: 40px;
          max-width: 540px;
          margin: 0 auto;

          h3 {
            font-size: 34px;
            line-height: 40px;
            color: #fff;
            font-weight: 700;
          }

          p {
            font-size: 24px;
            line-height: 40px;
            color: #fff;
          }
        }
      }
    }

    .owl-dots {
    position: relative;
    bottom: 30px;

      button {
        box-shadow: none;
        outline: 0;

        span {
          background-color: rgba(255, 255, 255, 0.5) !important;
        }

        &.active {
          span {
            background-color: rgba(255, 255, 255, 1) !important;
          }
        }
      }
    }
  }

  .more-section {
    padding: 40px 0;
    background-color: #fff;

    .more-card {
      text-align: center;
      padding: 0 20px;
      margin-bottom: 30px;

      .more-img {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        margin-bottom: 33px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      h3 {
        font-size: 26px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 17px;
        font-family: $crimson;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        color: #848484;
        min-height: 120px;
      }

      a {
        padding: 12px 60px;
      }
    }
  }

  .service-section {
    background-color: #fff;
    padding: 50px 0;

    .service-area {
      background-color: #fafafa;
      border-radius: 10px;
      padding: 50px 100px;

      .service-content {
        h3 {
          font-size: 62px;
          line-height: 68px;
          color: #000;
          font-family: $crimson;
        }

        h4 {
          font-size: 32px;
          line-height: 40px;
          font-weight: 400;
        }

        p {
          font-size: 22px;
          line-height: 34px;
          font-weight: 500;
        }

        a.btn {
          margin-top: 50px;
        }
      }

      .service-content-logo {
        ul {
          width: 100%;
          display: inline-block;

          li {
            display: inline-block;
            margin: 0 10px;
            height: 145px;

            &:first-child {
              margin-left: 100px;
            }

            &:nth-child(6) {
              margin-left: 100px;
            }

            a {
              height: 150px;
              width: 150px;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #fff;

              &:hover {
                box-shadow: 0 7px 12px rgba(0, 0, 0, 0.03);
                transition: all 0.3s;
              }

              img {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                overflow: hidden;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .victory-section {
    padding: 220px 0 140px;
    background-color: #2e3192;
    background-image: url(../images/bg-victory.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;

    &::after {
      content: '"';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.05);
      font-size: 600px;
      line-height: 70px;
      font-family: $crimson;
      margin: 0 auto;
    }

    .victory-inner {
      position: relative;
      z-index: 9;
    }

    .heading {
      text-align: center;
      margin-bottom: 60px;

      h3 {
        color: #fff;
        font-size: 72px;
        line-height: 100px;
        background: #00cbff;
        background: -webkit-linear-gradient(to right, #00cbff 0%, #f563e8 70%);
        background: -moz-linear-gradient(to right, #00cbff 0%, #f563e8 70%);
        background: linear-gradient(to right, #00cbff 0%, #f563e8 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
          display: block;
        }
      }
    }

    .content {
      text-align: center;

      h4 {
        font-size: 44px;
        line-height: 50px;
        color: #fff;
        font-family: $crimson;
        margin-bottom: 76px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 44px;
      }
    }
  }

  .get-in-touch-section {
    padding: 140px 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      background-image: url(../images/pattern.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 743px;
      height: 718px;
      position: absolute;
      left: -320px;
      top: 100px;
      z-index: 0;
    }

    .heading {
      text-align: center;
      margin-bottom: 70px;

      h3 {
        font-size: 62px;
        line-height: 68px;
        color: #000;
        font-family: $crimson;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .submit-div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 18px;
        line-height: 26px;
        color: #000;
        margin-bottom: 0;

        a {
          color: #000;
        }
      }

      a.btn {
        padding: 12px 80px;
        text-transform: uppercase;
      }
    }
  }

  .banner-inner-section {
    background-color: #2e3192;

    .content {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 600px;
      flex-direction: column;

      h3 {
        color: #fff;
        font-size: 34px;
        line-height: 48px;
        margin-bottom: 30px;

        span {
          display: block;
        }
      }

      a {
        font-size: 24px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        align-items: center;
        font-family: $crimson;

        i {
          transition: all 0.6s;
          position: relative;
          top: 4px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: all 0.3s;

          i {
            padding-left: 20px;
            transition: all 0.6s;
          }
        }
      }
    }

    .banner-img {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 100%;
        min-width: 402px;
        position: absolute;
        max-height: 403px;
        right: 0;
      }
    }

    .owl-theme {
      .owl-dots {
        position: absolute;
        left: 0;
        bottom: 10px;

        button {
          box-shadow: none;
          outline: 0;

          span {
            background-color: transparent;
            border: 1px solid #fff;
          }
        }

        .active {
          span {
            background-color: #fff;
          }
        }
      }
    }
  }

  .about-block-section {
    padding: 140px 0 50px 0;
    background-color: #fff;

    .row-item {
      margin-bottom: 180px;
    }

    .block-content {
      padding: 0 60px;

      .block-heading {
        margin-bottom: 40px;

        h3 {
          font-size: 44px;
          line-height: 57px;
          color: #000;
          font-family: $crimson;
        }
      }

      h4 {
        font-size: 18px;
        line-height: 28px;
        color: #000;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #000;
      }
    }

    overflow: hidden;

    .block-img {
      position: relative;
      margin-left: 100px;

      &::after {
        content: "";
        background-image: url(../images/block-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        min-height: 410px;
        right: -50px;
        top: 50px;
        position: absolute;
        width: 100%;
        border-radius: 10px;
        height: 100%;
      }

      .play-circle {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        background-color: #2e3192;
        position: absolute;
        left: -75px;
        right: auto;
        top: calc(50% - 75px);
        border: 32px solid #fff;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          height: 100%;
          width: 100%;
          font-size: 20px;
        }
      }

      .block-feature {
        width: 420px;
        height: 378px;
        z-index: 22;
        position: relative;
      }
    }

    .block-img.right {
      position: relative;
      margin-left: 0;
      margin-right: 100px;

      &::after {
        content: "";
        background-image: url(../images/block-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        min-height: 410px;
        left: -50px;
        top: 50px;
        position: absolute;
        width: 100%;
        border-radius: 10px;
        height: 100%;
      }

      .play-circle {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        background-color: #2e3192;
        position: absolute;
        right: -75px;
        left: auto;
        top: calc(50% - 75px);
        border: 32px solid #fff;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          height: 100%;
          width: 100%;
          font-size: 20px;
        }
      }

      .block-feature {
        width: 420px;
        height: 378px;
        z-index: 22;
        position: relative;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  .technology-integrated-section {
    padding: 120px;
    background-color: #2e3192;

    .integrated-content {
      h3 {
        font-size: 44px;
        color: #fff;
        line-height: 57px;
        margin-bottom: 30px;
        font-family: $crimson;
      }

      P {
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 30px;
      }

      h4 {
        font-size: 22px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 40px;
      }
    }

    .integrated-img {
      max-width: 440px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }

  .why-panoceanic-section {
    padding: 160px 0;
    background-color: #fcfcfc;

    .content {
      h3 {
        font-size: 62px;
        line-height: 68px;
        color: #000;
        font-family: $crimson;
      }
    }

    .why-panoceanic-img {
      margin-top: 70px;
    }

    .why-card {
      padding: 40px;
      border-radius: 10px;
      background-color: #fcfcfc;
      transition: all 0.3s;
      margin-bottom: 30px;

      .why-img {
        height: 60px;
        width: 60px;
        margin-bottom: 24px;

        img {
          width: 100%;
        }
      }

      h3 {
        font-size: 22px;
        line-height: 29px;
        font-family: $crimson;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.8);
      }

      a.text-readmore {
        display: block;
        color: rgba(46, 49, 146, 0.8);
        text-decoration: underline;
      }

      &:hover {
        transition: all 0.3s;
        background-color: #f3f3f3;
        box-shadow: 20px 20px 40px 0 rgba(46, 49, 146, 0.17);
      }
    }
  }

  .how-we-work-section {
    padding: 140px 0;
    background-color: #fff;

    .heading {
      h3 {
        font-size: 62px;
        line-height: 68px;
        color: #000;
        font-family: $crimson;
        margin-bottom: 25px;
      }

      P {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .timeline {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 100px 0;

      ul {
        display: block;
        position: relative;
        width: 100%;

        &::after {
          content: "";
          height: 100%;
          width: 5px;
          position: absolute;
          background-color: #2e3192;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 0;
        }

        &::before {
          content: "";
          height: 20px;
          width: 20px;
          border-radius: 100px;
          position: absolute;
          background-color: #2e3192;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: -10px;
        }

        li {
          display: block;
          position: relative;

          &:nth-child(odd) {
            margin-left: calc(50% + 15px);
            margin-right: 0;

            .row-line {
              position: relative;

              &::after {
                content: "";
                height: 20px;
                width: 20px;
                border-radius: 100px;
                position: absolute;
                background-color: #fff;
                border: 1px solid #2e3192;
                margin: 0 auto;
                right: 50%;
                top: -10px;
              }

              &::before {
                content: "";
                height: 1px;
                width: 50%;
                border-radius: 100px;
                position: absolute;
                background-color: #2e3192;
                margin: 0 auto;
                left: 0;
                right: auto;
                top: 0;
              }
            }

            &::after {
              content: "";
              height: 20px;
              width: 20px;
              border-radius: 100px;
              position: absolute;
              background-color: #2e3192;
              margin: 0 auto;
              left: -25px;
              top: -10px;
            }

            .content {
              position: relative;
              top: -20px;

              h3 {
                font-size: 26px;
                line-height: 28px;
              }

              P {
                font-size: 18px;
                line-height: 26px;
                color: #181a1b;
              }
            }
          }

          &:nth-child(even) {
            margin-right: calc(50% + 15px);
            margin-left: 0;

            .row-line {
              position: relative;

              &::after {
                content: "";
                height: 20px;
                width: 20px;
                border-radius: 100px;
                position: absolute;
                background-color: #fff;
                border: 1px solid #2e3192;
                margin: 0 auto;
                left: 50%;
                top: -10px;
              }

              &::before {
                content: "";
                height: 1px;
                width: 50%;
                border-radius: 100px;
                position: absolute;
                background-color: #2e3192;
                margin: 0 auto;
                right: 0;
                left: auto;
                top: 0;
              }
            }

            &::after {
              content: "";
              height: 20px;
              width: 20px;
              border-radius: 100px;
              position: absolute;
              background-color: #2e3192;
              margin: 0 auto;
              right: -25px;
              top: -10px;
            }

            .content {
              position: relative;
              top: -20px;
              text-align: right;

              h3 {
                font-size: 26px;
                line-height: 28px;
              }

              P {
                font-size: 18px;
                line-height: 26px;
                color: #181a1b;
              }
            }
          }
        }
      }
    }
  }

  .belief-section {
    padding: 120px 0;
    background-color: #2e3192;

    .heading {
      text-align: center;

      h3 {
        font-size: 62px;
        line-height: 68px;
        color: #fff;
        margin-bottom: 30px;
        font-family: $crimson;
      }

      P {
        font-size: 26px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .belief-blocks {
      .about-inner {
        margin: 40px 0 10px 0;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about-content {
        position: relative;
        float: left;
        width: 100%;
      }

      .about-image {
        position: relative;
        width: 70%;
        float: left;
        height: 420px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        z-index: 1;

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      .about-text {
        position: absolute;
        z-index: 2;
        width: 55%;
        height: auto;
        float: right;
        right: 0;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        background: #1b1d5b;
        box-shadow: -10px 15px 44px 0 rgba(0, 0, 0, 0.09);
        border-radius: 8px;
        padding: 50px;
        padding-bottom: 30px;
        text-align: center;
      }

      .about-text .quote {
        width: 38px;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      .about-text h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        color: #fff;
      }

      .about-text p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
      }

      .about-image::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0.2;
      }

      .about-left .about-image {
        float: right;
      }

      .about-inner .about-left {
        left: 0;
      }
    }
  }

  .solution-section {
    padding: 140px 0;
    background-image: linear-gradient(180deg, #fcfcfc 0%, #f2f2f2 100%);

    .heading {
      text-align: center;
      margin-bottom: 60px;

      h3 {
        font-size: 44px;
        line-height: 57px;
        color: #000;
        font-family: $crimson;
      }

      P {
        color: #000;
      }
    }

    .row-5 {
      margin: 0 -5px;

      .col-pad-5 {
        padding: 0 5px;
      }
    }

    .solution-card {
      padding: 30px;
      border-radius: 6px;
      background-color: #fcfcfc;
      margin-bottom: 20px;

      .solution-img {
        height: 60px;
        width: 60px;
        margin-bottom: 24px;

        img {
          width: 100%;
        }
      }

      .solution-body {
        min-height: 250px;
      }

      h3 {
        font-size: 22px;
        line-height: 29px;
        font-family: $crimson;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.8);
      }

      a.btn {
        width: 100%;
        background-color: transparent;
      }

      &:hover {
        background-image: url(../images/card-solution.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h3 {
          color: #fff;
        }

        p {
          color: #fff;
        }

        a.btn {
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }

  .banner-contact-section {
    background-color: #fafafa;
    padding: 120px 0 120px 0;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-color: #2e3192;
      height: 600px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .banner-contact-inner {
      position: relative;

      &::before {
        content: "";
        background-image: url(../images/pattern-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 743px;
        height: 718px;
        position: absolute;
        left: -100px;
        top: 50px;
        z-index: 2;
      }

      &::after {
        content: "";
        background-image: url(../images/pattern-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 743px;
        height: 718px;
        position: absolute;
        right: -400px;
        top: 20px;
        z-index: 2;
      }

      .contact-area {
        z-index: 99;
        position: relative;
        padding: 60px 90px;
        background-color: #fff;
        height: 100%;
        display: block;
        box-shadow: 0 20px 40px 0 rgba(46, 49, 146, 0.1);
        border-radius: 8px;

        .heading {
          text-align: center;
          margin-bottom: 70px;

          h2 {
            font-size: 62px;
            line-height: 68px;
            color: #000;
            font-family: $crimson;
          }

          h3 {
            font-size: 26px;
            line-height: 36px;
            color: #000;
            font-family: $crimson;
          }

          p {
            font-size: 14px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .submit-div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-size: 18px;
            line-height: 26px;
            color: #000;
            margin-bottom: 0;

            a {
              color: #000;
            }
          }

          a.btn {
            padding: 12px 80px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .insights-section {
    padding: 120px 0;
    background-color: #fff;
    overflow: hidden;

    .heading {
      text-align: center;
      margin-bottom: 60px;

      h3 {
        font-size: 44px;
        line-height: 61px;
        color: #000;
        font-family: $crimson;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        color: #000;
      }
    }

    .container-fluid {
      padding: 0;
      max-width: 1920px;
    }

    .insights-box {
      padding: 120px 0 170px 90px;
      overflow: hidden;
      background-color: #fff;
      height: 100%;

      .insights-content {
        h3 {
          font-size: 44px;
          line-height: 57px;
          color: #2e3192;
          font-family: $crimson;
        }

        p {
          max-width: 290px;
          font-size: 18px;
          line-height: 24px;
          color: #000;
        }

        .content {
          margin-bottom: 40px;
        }

        a.btn {
          border-color: rgba(46, 49, 146, 0.6);
          max-width: 250px;
          width: 100%;
          font-size: 14px;

          &:hover {
            background-color: rgba(46, 49, 146, 1);
          }
        }
      }

      .insights-img {
        position: absolute;
        right: -30px;
        bottom: 0;
        max-width: 300px;
      }
    }

    .row-0 {
      margin: 0 !important;

      .pad-0 {
        padding: 0 !important;
      }
    }

    .insights-box.box-grey {
      background-color: #f8f8f8;
    }
  }

  .subscribe-section {
    padding: 120px 0;
    background-color: #2e3192;

    .subscribe-content {
      h3 {
        font-size: 44px;
        line-height: 55px;
        color: #fff;
        font-family: $crimson;
      }

      h4 {
        font-size: 26px;
        line-height: 44px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 80px;
      }

      a {
        font-size: 24px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.5);
        display: inline-flex;
        align-items: center;
        transition: all 0.3s;

        i {
          transition: all 0.6s;
          position: relative;
          top: 4px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: all 0.3s;

          i {
            padding-left: 20px;
            transition: all 0.6s;
          }
        }
      }
    }

    .subscribe-img {
      max-width: 375px;
      width: 100%;
      margin: 0 0 0 auto;
    }
  }
}

.footer-section {
  padding: 40px 0 0 0;
  background-color: #1b1d5b;
  color: #fff;

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0;
  }

  .logo-footer-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    .logo-footer {
      padding: 0 15px 0 0;
      display: flex;
      align-items: center;
      position: relative;
      color: rgba(255, 255, 255, 0.5);

      span {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 22px;
        margin-left: 10px;
        font-family: $crimson;
      }
      img {
        width: auto;
        height: auto;
        max-width: 160px;
        opacity: 0.5;
      }

      &::after {
        content: "\e930";
        font-family: "Feather" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 24px;
        margin-left: 5px;
      }
    }

    .footer-link {
      color: #fff;

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .content-footer {
    p {
      color: rgba(255, 255, 255, 0.4);
      font-size: 12px;
      line-height: 24px;
    }
  }

  .copy-right-text {
    padding: 20px 0;

    .copy-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
    }

    ul {
      li {
        a {
          color: rgba(255, 255, 255, 0.5);
          display: inline-block;
          padding: 5px 20px;
          font-size: 14px;
          line-height: 18px;
          border-right: 1px solid rgba(255, 255, 255, 0.5);

          &:hover {
            color: rgba(255, 255, 255, 1);
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}

// popop

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 49, 146, 0.5); /* Black with a little bit see-through */
  z-index: 1100;

  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 100px 20px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);

    form {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      input[type="text"] {
        padding: 5px 15px;
        font-size: 40px;
        color: rgba(46, 49, 146, 1);
        letter-spacing: 0.64px;
        font-weight: 500;
        border: none;
        float: left;
        background: #fff;
        width: 80%;
        box-shadow: none !important;
        outline: 0 !important;
        border-bottom: 1px solid rgba(46, 49, 146, 0.8);
        border-radius: 0 !important;

        &:focus {
          background: #fff;
          box-shadow: none !important;
          outline: 0 !important;
          border-bottom: 1px solid rgba(46, 49, 146, 1);
        }
      }
    }

    .closebtn {
      padding: 10px 20px;
      cursor: pointer;
      z-index: 999;
      color: rgba(46, 49, 146, 0.8);
      font-size: 40px;
      position: fixed;
      right: 20px;
      top: 20px;

      &:hover {
        color: rgba(46, 49, 146, 1);
      }
    }

    button {
      float: left;
      padding: 10px 20px;
      background: #fff;
      color: rgba(46, 49, 146, 1);
      font-size: 40px;
      border: none;
      outline: 0;
      box-shadow: none;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    .overlay-content {
      padding: 50px 20px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input[type="text"] {
          padding: 3px 15px;
          font-size: 16px;
          line-height: 20px;

          &:focus {
            background: white;
          }
        }
      }

      .closebtn {
        padding: 10px 15px;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
      }

      button {
        float: left;
        padding: 10px 15px;
        font-size: 20px;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .overlay {
    .overlay-content {
      padding: 50px 20px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input[type="text"] {
          padding: 5px 15px;
          font-size: 20px;

          &:focus {
            background: white;
          }
        }
      }

      .closebtn {
        padding: 10px 15px;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
      }

      button {
        float: left;
        padding: 10px 15px;
        font-size: 20px;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 767px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 140px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;

            a {
              white-space: nowrap;
              color: rgba(255, 255, 255, 0.7) !important;
              &:hover {
                color: #fff !important;
              }

              &.active {
                
                  color: rgba(255, 255, 255, 1) !important;
              }
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: 0px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 10px;
          font-size: 14px;
          top: 3px;
        }
      }
    }
  }

  .header {
    .navbar.fixed-top {
      .navbar-toggler .navbar-toggler-icon {
        background-image: url(../images/menubar-blue.png);
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #2e3192;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    width: 70%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .custom-control-input:checked ~ .custom-control-label::before {
    height: 20px;
    width: 20px;
    background-color: #000;
    border-color: #000;
  }
  
  .custom-control-label {
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .custom-control-label::before {
    height: 20px;
    width: 20px;
  }
  
  .custom-control-label::after {
    height: 20px;
    width: 20px;
  }

  .middle-section {
    padding-top: 70px;

    .banner-section {
      .content {
        padding: 50px 0;
        height: auto;
        min-height: unset;

        h3 {
          font-size: 32px;
          line-height: 36px;
          color: #fff;
        }

        a {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .banner-img {
        overflow: hidden;
      }
    }

    .trending-section {
      padding-bottom: 40px;

      .heading {
        margin-bottom: 40px;

        h3 {
          font-size: 28px;
          line-height: 36px;
        }
      }

      .technology-left {
        .profile {
          .profile-img {
            height: 70px;
            width: 70px;
          }

          .profile-content {
            h3 {
              font-size: 24px;
              line-height: 30px;
            }

            p {
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 0;
            }
          }
        }

        h3 {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }

      .owl-theme .owl-nav {
        width: 100%;
        margin: 0 auto;
        top: auto;
        bottom: -30px;
        justify-content: center;

        button {
          height: 40px;
          width: 40px;
          position: unset !important;
        }
      }

      .owl-carousel {
        .row {
          flex-direction: column-reverse;
        }
      }
    }

    .buisness-needs-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 28px;
          line-height: 36px;
        }
      }

      .buiness {
        max-height: 400px;
        min-height: 400px;

        .buisness-box {
          h3 {
            font-size: 28px;
            line-height: 36px;
          }

          P {
            font-size: 16px;
            line-height: 26px;
          }

          a {
            height: 40px;
            width: 40px;
          }
        }

        .buisness-box {
          padding: 30px 20px;
        }
  
        &:hover {
          .buisness-box {
          .featured {
            max-height: 180px;
          }
        }
        }
      }

      .owl-theme {
        .owl-nav {
          right: 0;
          top: -80px;

          button {
            height: 40px;
            width: 40px;
          }
        }
      }

     
    }

    .testimomnial-section {
      padding: 60px 0 40px 0;

      &::before {
        height: 400px;
        width: 400px;
      }

      .testimonial-area {
        .testimonials {
          padding: 20px 20px;

          .testimonial-img {
            height: 80px;
            width: 80px;
            margin-bottom: 30px;
          }

          h3 {
            font-size: 20px;
            line-height: 28px;
          }

          .author {
            h3 {
              font-size: 18px;
              line-height: 26px;
            }

            p {
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
    }

    .more-section {
      .more-card {
        margin-bottom: 30px;
      }
    }

    .service-section {
      padding: 60px 0;

      .service-area {
        padding: 40px 30px;

        .service-content {
          h3 {
            font-size: 28px;
            line-height: 36px;
          }

          h4 {
            font-size: 20px;
            line-height: 26px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }

          .btn {
            margin-top: 30px;
          }
        }

        .service-content-logo {
          padding-top: 40px;

          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            li {
              height: unset;
              margin: 10px !important;

              a {
                height: 120px;
                width: 120px;
              }
            }
          }
        }
      }
    }

    .technology-integrated-inner {
      overflow: hidden;
    }

    .victory-section {
      padding: 60px 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom right;

      .heading {
        margin-bottom: 30px;

        h3 {
          font-size: 28px;
          line-height: 36px;
        }
      }

      .content {
        h4 {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 40px;
        }
        
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }

    .get-in-touch-section {
      padding: 60px 0;

      &::before {
        height: 400px;
        width: 400px;
        left: -150px;
      }

      .heading {
        h3 {
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 20px;
        }
      }

      .form-group {
        .form-control {
          height: 50px;
          font-size: 16px;
        }
      }

      .custom-control-label {
        font-size: 14px;
        line-height: 24px;
      }

      .submit-div {
        a.btn {
          padding: 12px 40px;
        }

        h3 {
          font-size: 14px;
          line-height: 24px;
          white-space: nowrap;
        }
      }
    }

    .banner-contact-section {
      padding: 60px 0;

      .banner-contact-inner {
        &::after {
          height: 400px;
          width: 400px;
          right: -200px;
        }

        &::before {
          height: 400px;
          width: 400px;
          left: -200px;
        }
        .contact-area {
          padding: 40px 30px;

          .heading {
            h3 {
              font-size: 24px;
              line-height: 34px;
              margin-bottom: 10px;
            }

            h2 {
              font-size: 34px;
              line-height: 38px;
              margin-bottom: 20px;
            }
          }

          .form-group {
            .form-control {
              height: 50px;
              font-size: 16px;
            }
          }

          .custom-control-label {
            font-size: 14px;
            line-height: 24px;
          }

          .submit-div {
            a.btn {
              padding: 12px 40px;
            }

            h3 {
              font-size: 14px;
              line-height: 24px;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .banner-inner-section {
      .content {
        padding: 50px 0;
        height: auto;
        min-height: unset;

        h3 {
          font-size: 32px;
          line-height: 36px;
          color: #fff;
        }

        a {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .banner-img {
        overflow: hidden;
      }
    }

    .about-block-section {
      .block-content {
        .block-heading {
          margin-bottom: 40px;

          h3 {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }

      .block-img {
        margin-left: 50px;

        &::after {
          min-height: 250px;
        }

        .block-feature {
          width: 100%;
          height: auto;

          .play-circle {
            height: 100px;
            width: 100px;
            border: 16px solid #fff;
            left: -50px;
            top: calc(50% - 40px);

            img {
              width: 100%;
            }
          }
        }
      }

      .block-img.right {
        position: relative;
        margin-left: 0;
        margin-right: 50px;

        &::after {
          min-height: 250px;
        }

        .play-circle {
          right: -50px;
          left: auto;
        }

        .block-feature {
          width: 100%;
          height: auto;
        }
      }

      .row-item-mobile {
        flex-direction: column-reverse;
      }
    }

    .technology-integrated-section {
      padding: 60px 0;

      .integrated-content {
        padding: 20px 15px;

        h3 {
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }

        h4 {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .integrated-img {
        margin-top: 30px;
        max-width: 250px;
      }
    }

    .why-panoceanic-section {
      padding: 60px 0 40px 0;

      .content {
        h3 {
          font-size: 26px;
          line-height: 36px;
        }
      }

      .why-panoceanic-img {
        img {
          margin: 0 auto;
          max-width: 250px;
          display: block;
        }
      }

      .why-card {
        padding: 25px 20px;

        h3 {
          font-size: 20px;
          line-height: 28px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .how-we-work-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 26px;
          line-height: 36px;
        }

        P {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .timeline {
        margin-top: 60px;

        ul {
          &::after {
            width: 3px;
          }

          li {
            &:nth-child(odd) {
              .content {
                top: 0;

                h3 {
                  font-size: 16px;
                  line-height: 30px;
                }

                p {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
            }

            &:nth-child(even) {
              .row-line {
                flex-direction: column-reverse;
              }

              .content {
                top: 0;
                padding: 10px 15px;

                h3 {
                  font-size: 16px;
                  line-height: 30px;
                }

                p {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }

    .belief-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 26px;
          line-height: 36px;
        }

        p {
          font-size: 16px;
          line-height: 26px;
        }
      }

      .about-inner {
        flex-direction: column;

        .about-content {
          width: 100%;
          float: none;

          .about-image {
            width: 100%;
            height: 300px;
            float: none;
          }
        }

        .about-text {
          padding: 20px 20px;
          position: unset;
          width: 100%;
          top: 0;
          float: none;
          transform: none;

          h2 {
            font-size: 20px;
            line-height: 27px;
          }

          P {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    .solution-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 28px;
          line-height: 36px;
          color: #000;
        }
      }

      .solution-card {
        .solution-body {
          min-height: unset;
          margin-bottom: 30px;
        }
      }
    }

    .insights-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-size: 14px;
          line-height: 26px;
        }
      }

      .insights-box {
        padding: 30px 20px;
        display: flex;
        flex-direction: column-reverse;

        .insights-img {
          width: 100%;
          position: unset;
          max-width: 200px;
          margin: 20px auto;
        }

        .insights-content {
          h3 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 10px;
          }

          P {
            font-size: 14px;
            line-height: 24px;
            max-width: unset;
          }

          a.btn {
            width: auto;
            max-width: unset;
            padding: 10px 45px;
          }
        }
      }

      .mobile-row {
        flex-direction: column-reverse;
      }
    }

    .subscribe-section {
      padding: 60px 0;

      .subscribe-content {
        h3 {
          font-size: 28px;
          line-height: 36px;
        }

        h4 {
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 40px;
        }

        a.text-link {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .subscribe-img {
        margin: 50px auto 30px auto;
        max-width: 250px;
      }
    }
  }

  .footer-section {
    padding-top: 30px;

    .copy-right-text .copy-inner {
      flex-direction: column-reverse;

      ul {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .middle-section {
    .banner-section {
      .banner-img {
        img {
          position: relative;
          min-width: unset;
        }
      }
    }

    .banner-inner-section {
      .banner-img {
        padding: 50px 30px;

        img {
          position: relative;
          min-width: unset;
          max-height: unset;
        }
      }
    }

    .about-block-section {
      padding: 60px 0;

      .block-content {
        padding: 20px 10px;

        h3 {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .middle-section {
    .insights-section {
      .insights-box {
        padding: 50px 30px 0 30px;
        overflow: hidden;
        text-align: left;

        .insights-content {
          max-width: 350px;

          p {
            max-width: unset;
          }
        }

        .insights-img {
          max-width: 200px;
        }
      }
    }

  
  }
}

@media (min-width: 768px) and (max-width: 996px) {

  .header .navbar .collapse1 .navbar-nav .nav-item a {
    padding: 8px 8px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {

  
  .middle-section {
    .insights-section {
      .insights-box {
        padding: 50px 60px 0 60px;
        overflow: hidden;
        text-align: left;

        .insights-content {
          max-width: 400px;

          p {
            max-width: unset;
          }
        }

        .insights-img {
          max-width: 200px;
          right: -10px;
          margin: 30px 0 0 auto;
          position: relative;
        }
      }
    }

    .solution-section .solution-card .solution-body {
      min-height: unset;
    }

    .how-we-work-section .timeline ul li:nth-child(odd) .content h3 {
      font-size: 24px;
      line-height: 34px;
    }

    .how-we-work-section .timeline ul li:nth-child(even) .content h3 {
      font-size: 24px;
      line-height: 34px;
    }


    .buisness-needs-section .buiness {
      .buisness-box {
        padding: 30px 20px;
      }

      &:hover {
        .buisness-box {
        .featured {
          max-height: 160px;
        }
      }
      }
    }

   
  }

  // no css
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 140px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;

          .nav-item {
            padding: 0 20px;

            a {
              color: rgba(255, 255, 255, 0.7) !important;
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

              &:hover {
                color: #fff !important;
              }

              &.active {
                
                  color: rgba(255, 255, 255, 1) !important;
              }
            }
          }

          .nav-btn {
            a {
              background-color: #ed5c37;
              color: #fff;
              border-radius: 4px;
              transition: none;

              &:hover {
                background-color: #fff;
                color: #ed5c37;
              }
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: 0px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 15px;
          font-size: 14px;
          top: 2px;
        }
      }
    }
  }

  .header {
    .navbar.fixed-top {
      .navbar-toggler .navbar-toggler-icon {
        background-image: url(../images/menubar-blue.png);
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #2e3192;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    width: 35%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section {
    .trending-section {
      .owl-theme .owl-nav {
        width: 100%;
        margin: 0 auto;
        bottom: -60px;
        top: auto;
        justify-content: center;

        button {
          right: 0 !important;
          left: 0 !important;
          position: unset !important;
        }
      }
    }

    .about-block-section .row-item-mobile {
      flex-direction: column-reverse;
    }
    .technology-integrated-section .integrated-img img {
      max-width: 400px;
      margin: 40px auto 0 auto;
    }

    .why-panoceanic-section .why-panoceanic-img {
      max-width: 400px;
      margin: 30px auto;
    }

    .insights-section {
      .mobile-row {
        flex-direction: column-reverse;
      }

      .insights-box {
        padding: 50px 60px;
        overflow: hidden;
        text-align: left;

        .insights-content {
          max-width: 400px;

          p {
            max-width: unset;
          }
        }

        .insights-img {
          max-width: 200px;
          right: -10px;
          margin: 30px auto;
          position: absolute;
        }
      }
    }

    .subscribe-section {
      .subscribe-img {
        margin: 50px auto;
      }
    }

    .belief-section .belief-blocks {
      .about-image {
        height: 480px;
      }

      .about-text {
        padding: 30px 25px;

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .how-we-work-section {
      padding: 80px 0;

      .timeline ul li:nth-child(even) .content {
        top: 0;
        padding-top: 20px;
      }
    }

    .why-panoceanic-section {
      padding: 80px 0 40px 0;
    }

    .banner-inner-section .content h3 span {
      display: inline-block;  
    }

    .buisness-needs-section .buiness {
      .buisness-box {
        padding: 30px 20px;
      }

      &:hover {
        .buisness-box {
        .featured {
          max-height: 200px;
        }
      }
      }
    }

    .buisness-needs-section .buiness .buisness-box h3 {
      font-size: 35px;
    }

    .service-content-logo {
      padding-top: 40px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 12px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }

  

  .middle-section {
    .trending-section {
      .owl-theme .owl-nav {
        width: 100%;
        margin: 0 auto;
        bottom: -50px;
        top: auto;
        justify-content: center;

        button {
          right: 0 !important;
          left: 0 !important;
          position: unset !important;
        }
      }
    }


    .service-section .service-area .service-content-logo ul li a {
      width: 120px;
      height: 120px;
    }

    .solution-section .solution-card .solution-body {
      min-height: 250px;
    }

    .how-we-work-section {
      padding: 80px 0 60px 0;
    }

    
    .buisness-needs-section .buiness {
      .buisness-box {
        padding: 30px 20px;
      }

      &:hover {
        .buisness-box {
        .featured {
          max-height: 160px;
        }
      }
      }
    }

    .buisness-needs-section .buiness .buisness-box h3 {
      font-size: 35px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */

  .middle-section {
    .insights-section {
      .insights-box {
        padding: 50px 40px 0 40px;
        overflow: hidden;
        text-align: left;

        .insights-content {
          max-width: 350px;
          
          h3 {
            font-size: 40px;
            line-height: 50px;
          }

          p {
            max-width: unset;
          }
        }

        .insights-img {
          position: relative;
          max-width: 200px;
          right: -4 0;
          margin: 30px 0 0 auto;
        }
      }
    }

    .buisness-needs-section .buiness {
      .buisness-box {
        padding: 30px 20px;
      }

      &:hover {
        .buisness-box {
        .featured {
          max-height: 200px;
        }
      }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */

  .middle-section {
    .service-section .service-area .service-content-logo ul li a {
      width: 120px;
      height: 120px;
    }

    .solution-section .solution-card .solution-body {
      min-height: 250px;
    }

    .insights-section {
      .insights-box {
        padding: 50px 40px 0 40px;
        overflow: hidden;
        text-align: left;

        .insights-content {
          max-width: 350px;

          p {
            max-width: unset;
          }
        }

        .insights-img {
          max-width: 200px;
          right: -30px;
          margin: 30px 0 0 auto;
          position: relative;
        }
      }
    }

    .insights-section .mobile-row {
      flex-direction: row;
    }

    .about-block-section .row-item-mobile {
      flex-direction: row;
    }
  }
}
