@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("../css/animate.css");
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

/*   normalize  */
@media (max-width: 1230px) {
  .container {
    max-width: 100%;
  }
}

/* ############################ header section ############################### */
.fixed-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header {
  height: 55px;
  position: relative;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  background-color: #2e3192;
  z-index: 999;
  border-bottom: 1px solid rgba(236, 236, 236, 0.06);
}

.header .navbar .navbar-brand {
  width: 160px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  padding: 8px 18px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: white;
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.header .navbar .collapse1 .navbar-nav .nav-btn a {
  font-size: 16px;
  min-height: 30px;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
}

.nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-account {
  padding-left: 10px;
}

.user-account ul {
  list-style: none;
  display: inline-block;
}

.user-account ul li {
  display: inline-block;
}

.user-account ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  padding: 8px 20px 0px 20px;
  position: relative;
  top: -3px;
}

.user-account ul li a:hover {
  color: #fff;
}

.header .navbar.fixed-top .collapse1 .navbar-nav .nav-item a {
  color: rgba(46, 49, 146, 0.8);
  font-weight: 500;
}

.header .navbar.fixed-top .collapse1 .navbar-nav .nav-item a:hover {
  color: #2e3192;
  font-weight: 500;
}

.header .navbar.fixed-top .collapse1 .navbar-nav .nav-item a.active {
  color: #2e3192;
  font-weight: 500;
}

.header .navbar.fixed-top .user-account ul li a {
  color: rgba(46, 49, 146, 0.8);
  font-weight: 500;
}

.header .navbar.fixed-top .user-account ul li a:hover {
  color: #2e3192;
  font-weight: 500;
}

.header .navbar.fixed-top .user-account ul li a.actie {
  color: #2e3192;
  font-weight: 500;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #848484;
  height: 50px;
  background-color: #fff;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  height: 60px;
}

.form-group .form-control:focus {
  border-color: #071b23 !important;
  color: #000;
}

.form-group textarea.form-control {
  height: 150px;
  padding: 12px 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  height: 30px;
  width: 30px;
  background-color: #000;
  border-color: #000;
}

.custom-control-label {
  padding-left: 30px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.custom-control-label::before {
  height: 30px;
  width: 30px;
}

.custom-control-label::after {
  height: 30px;
  width: 30px;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.btn.btn-outline-primary {
  border-radius: 100px;
  color: #000;
  border-color: #000;
  padding: 12px 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.btn.btn-outline-primary:hover {
  background-color: #000;
  color: #fff;
}

.btn.btn-outline-primary:focus {
  background-color: #000;
  color: #fff;
}

.btn.btn-outline-primary:active {
  background-color: #000;
  color: #fff;
}

.btn.btn-outline-primary.btn-white {
  border-radius: 100px;
  color: #fff;
  border-color: #fff;
  padding: 12px 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-outline-primary.btn-white:hover {
  background-color: #fff;
  color: #2e3192;
}

.btn.btn-outline-primary.btn-white:focus {
  background-color: #fff;
  color: #2e3192;
}

.btn.btn-outline-primary.btn-white:active {
  background-color: #fff;
  color: #2e3192;
}

/*  middle section start here */
.middle-section {
  height: auto;
}

.middle-section .banner-section {
  height: auto;
  background-color: #2e3192;
}

.middle-section .banner-section .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .banner-section .content h3 {
  color: #fff;
  font-size: 34px;
  line-height: 48px;
  margin-bottom: 30px;
}

.middle-section .banner-section .content a {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Crimson Text", serif;
}

.middle-section .banner-section .content a i {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
  top: 4px;
}

.middle-section .banner-section .content a:hover {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .banner-section .content a:hover i {
  padding-left: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.middle-section .banner-section .banner-img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
}

.middle-section .banner-section .banner-img img {
  width: 100%;
  min-width: 676px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.middle-section .banner-section .owl-theme .owl-dots {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.middle-section .banner-section .owl-theme .owl-dots button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .banner-section .owl-theme .owl-dots button span {
  background-color: transparent;
  border: 1px solid #fff;
}

.middle-section .banner-section .owl-theme .owl-dots .active span {
  background-color: #fff;
}

.middle-section .trending-section {
  background-color: #fff;
  padding: 70px 0;
}

.middle-section .trending-section .heading {
  margin-bottom: 90px;
}

.middle-section .trending-section .heading h3 {
  font-size: 62px;
  line-height: 75px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .trending-section .technology-left {
  padding: 40px 30px;
}

.middle-section .trending-section .technology-left h3 {
  font-size: 32px;
  line-height: 54px;
  color: #848484;
}

.middle-section .trending-section .technology-left .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

.middle-section .trending-section .technology-left .profile .profile-img {
  height: 99px;
  width: 99px;
  border-radius: 100px;
}

.middle-section .trending-section .technology-left .profile .profile-img img {
  width: 100%;
}

.middle-section .trending-section .technology-left .profile .profile-content {
  padding: 10px 20px;
}

.middle-section .trending-section .technology-left .profile .profile-content h3 {
  font-size: 32px;
  line-height: 40px;
  color: #000;
  font-family: "Crimson Text", serif;
  margin-bottom: 5px;
}

.middle-section .trending-section .technology-left .profile .profile-content p {
  font-size: 22px;
  line-height: 26px;
  color: #000;
}

.middle-section .trending-section .owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.middle-section .trending-section .owl-theme .owl-nav .owl-prev {
  left: -60px;
  position: absolute;
}

.middle-section .trending-section .owl-theme .owl-nav .owl-next {
  right: -60px;
  position: absolute;
}

.middle-section .trending-section .owl-theme .owl-nav button {
  height: 47px;
  width: 47px;
  border: 1px solid rgba(1, 36, 55, 0);
  background-color: transparent;
  border-radius: 100%;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
}

.middle-section .trending-section .owl-theme .owl-nav button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.middle-section .trending-section .owl-theme .owl-nav button:hover {
  background-color: #2e3192;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #2e3192;
  color: #fff;
}

.middle-section .trending-section .technology-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.middle-section .trending-section .technology-img img {
  width: 100%;
}

.middle-section .buisness-needs-section {
  background-color: #2e3192;
  padding: 140px 0 0 0;
}

.middle-section .buisness-needs-section .heading {
  text-align: center;
  padding-bottom: 70px;
}

.middle-section .buisness-needs-section .heading h3 {
  font-size: 44px;
  line-height: 66px;
  color: #fff;
  margin-bottom: 30px;
}

.middle-section .buisness-needs-section .heading p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 28px;
}

.middle-section .buisness-needs-section .owl-stage {
  -webkit-transform: translate3d(1, 1);
          transform: translate3d(1, 1);
}

.middle-section .buisness-needs-section .buiness {
  position: relative;
  max-height: 800px;
  min-height: 800px;
}

.middle-section .buisness-needs-section .buiness::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.02);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .buisness-needs-section .buiness .buisness-box {
  padding: 50px 80px 50px 50px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  z-index: 99;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.middle-section .buisness-needs-section .buiness .buisness-box h3 {
  color: #fff;
  font-size: 44px;
  line-height: 29px;
  margin-bottom: 15px;
  font-family: "Crimson Text", serif;
}

.middle-section .buisness-needs-section .buiness .buisness-box .featured {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out 0.15s;
  transition: max-height 0.5s ease-out 0.15s;
}

.middle-section .buisness-needs-section .buiness .buisness-box P {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.middle-section .buisness-needs-section .buiness .buisness-box a {
  color: #fff;
  border: 1px solid #fff;
  height: 56px;
  width: 56px;
  font-size: 18px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .buisness-needs-section .buiness .buisness-box a i {
  font-size: 20px;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box h3 {
  color: #fff;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box p {
  color: #fff;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
  max-height: 120px;
  -webkit-transition: max-height 0.5s ease-out 0.15s;
  transition: max-height 0.5s ease-out 0.15s;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box a {
  background-color: #fff;
  color: #2e3192;
}

.middle-section .buisness-needs-section .buiness:hover .buisness-box a i {
  font-size: 22px;
}

.middle-section .buisness-needs-section .buiness:hover::after {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-right: 1px solid transparent;
}

.middle-section .buisness-needs-section .owl-theme .owl-nav {
  position: absolute;
  top: -100px;
  right: 100px;
  left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.middle-section .buisness-needs-section .owl-theme .owl-nav button {
  height: 47px;
  width: 47px;
  border: 1px solid rgba(1, 36, 55, 0);
  background-color: #fff;
  border-radius: 100%;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
}

.middle-section .buisness-needs-section .owl-theme .owl-nav button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.middle-section .buisness-needs-section .owl-theme .owl-nav button:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #2e3192;
  color: #2e3192;
}

.middle-section .buisness-needs-section .owl-item.center .buiness {
  margin: 0 !important;
}

.middle-section .buisness-needs-section .owl-item.center .buiness .buisness-box .featured {
  max-height: 180px;
}

.middle-section .buisness-needs-section .buisness-slides {
  position: relative;
}

.middle-section .buisness-needs-section .buisness-slides .b-slide {
  background-image: url(../images/slides/slide-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.middle-section .buisness-needs-section .buisness-slides .b-slide.active {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.middle-section .buisness-needs-section .buisness-slides .slide-one {
  background-image: url(../images/slides/slide-1.jpg);
}

.middle-section .buisness-needs-section .buisness-slides .slide-two {
  background-image: url(../images/slides/slide-2.jpg);
}

.middle-section .buisness-needs-section .buisness-slides .slide-three {
  background-image: url(../images/slides/slide-3.jpg);
}

.middle-section .buisness-needs-section .buisness-slides .slide-four {
  background-image: url(../images/slides/slide-4.jpg);
}

.middle-section .testimomnial-section {
  padding: 140px 0 40px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.middle-section .testimomnial-section::before {
  content: "";
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 743px;
  height: 718px;
  position: absolute;
  left: -150px;
  top: 400px;
  z-index: 0;
}

.middle-section .testimomnial-section .testimonial-area {
  background-image: url(../images/bg-testimonial.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  border-radius: 40px;
  z-index: 3;
  position: relative;
}

.middle-section .testimomnial-section .testimonial-area .testimonials {
  padding: 50px 60px;
  text-align: center;
}

.middle-section .testimomnial-section .testimonial-area .testimonials .testimonial-img {
  height: 128px;
  width: 128px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
}

.middle-section .testimomnial-section .testimonial-area .testimonials .testimonial-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .testimomnial-section .testimonial-area .testimonials h3 {
  font-size: 26px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
}

.middle-section .testimomnial-section .testimonial-area .testimonials .author {
  padding-top: 40px;
  max-width: 540px;
  margin: 0 auto;
}

.middle-section .testimomnial-section .testimonial-area .testimonials .author h3 {
  font-size: 34px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

.middle-section .testimomnial-section .testimonial-area .testimonials .author p {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}

.middle-section .testimomnial-section .owl-dots {
  position: relative;
  bottom: 30px;
}

.middle-section .testimomnial-section .owl-dots button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .testimomnial-section .owl-dots button span {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.middle-section .testimomnial-section .owl-dots button.active span {
  background-color: white !important;
}

.middle-section .more-section {
  padding: 40px 0;
  background-color: #fff;
}

.middle-section .more-section .more-card {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
}

.middle-section .more-section .more-card .more-img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.middle-section .more-section .more-card .more-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .more-section .more-card h3 {
  font-size: 26px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 17px;
  font-family: "Crimson Text", serif;
}

.middle-section .more-section .more-card p {
  font-size: 18px;
  line-height: 26px;
  color: #848484;
  min-height: 120px;
}

.middle-section .more-section .more-card a {
  padding: 12px 60px;
}

.middle-section .service-section {
  background-color: #fff;
  padding: 50px 0;
}

.middle-section .service-section .service-area {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 50px 100px;
}

.middle-section .service-section .service-area .service-content h3 {
  font-size: 62px;
  line-height: 68px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .service-section .service-area .service-content h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.middle-section .service-section .service-area .service-content p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
}

.middle-section .service-section .service-area .service-content a.btn {
  margin-top: 50px;
}

.middle-section .service-section .service-area .service-content-logo ul {
  width: 100%;
  display: inline-block;
}

.middle-section .service-section .service-area .service-content-logo ul li {
  display: inline-block;
  margin: 0 10px;
  height: 145px;
}

.middle-section .service-section .service-area .service-content-logo ul li:first-child {
  margin-left: 100px;
}

.middle-section .service-section .service-area .service-content-logo ul li:nth-child(6) {
  margin-left: 100px;
}

.middle-section .service-section .service-area .service-content-logo ul li a {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.middle-section .service-section .service-area .service-content-logo ul li a:hover {
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.03);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .service-section .service-area .service-content-logo ul li a img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .victory-section {
  padding: 220px 0 140px;
  background-color: #2e3192;
  background-image: url(../images/bg-victory.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.middle-section .victory-section::after {
  content: '"';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.05);
  font-size: 600px;
  line-height: 70px;
  font-family: "Crimson Text", serif;
  margin: 0 auto;
}

.middle-section .victory-section .victory-inner {
  position: relative;
  z-index: 9;
}

.middle-section .victory-section .heading {
  text-align: center;
  margin-bottom: 60px;
}

.middle-section .victory-section .heading h3 {
  color: #fff;
  font-size: 72px;
  line-height: 100px;
  background: #00cbff;
  background: -webkit-gradient(linear, left top, right top, from(#00cbff), color-stop(70%, #f563e8));
  background: linear-gradient(to right, #00cbff 0%, #f563e8 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.middle-section .victory-section .heading h3 span {
  display: block;
}

.middle-section .victory-section .content {
  text-align: center;
}

.middle-section .victory-section .content h4 {
  font-size: 44px;
  line-height: 50px;
  color: #fff;
  font-family: "Crimson Text", serif;
  margin-bottom: 76px;
}

.middle-section .victory-section .content p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 44px;
}

.middle-section .get-in-touch-section {
  padding: 140px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.middle-section .get-in-touch-section::before {
  content: "";
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 743px;
  height: 718px;
  position: absolute;
  left: -320px;
  top: 100px;
  z-index: 0;
}

.middle-section .get-in-touch-section .heading {
  text-align: center;
  margin-bottom: 70px;
}

.middle-section .get-in-touch-section .heading h3 {
  font-size: 62px;
  line-height: 68px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .get-in-touch-section .heading p {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}

.middle-section .get-in-touch-section .submit-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .get-in-touch-section .submit-div h3 {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-bottom: 0;
}

.middle-section .get-in-touch-section .submit-div h3 a {
  color: #000;
}

.middle-section .get-in-touch-section .submit-div a.btn {
  padding: 12px 80px;
  text-transform: uppercase;
}

.middle-section .banner-inner-section {
  background-color: #2e3192;
}

.middle-section .banner-inner-section .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .banner-inner-section .content h3 {
  color: #fff;
  font-size: 34px;
  line-height: 48px;
  margin-bottom: 30px;
}

.middle-section .banner-inner-section .content h3 span {
  display: block;
}

.middle-section .banner-inner-section .content a {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Crimson Text", serif;
}

.middle-section .banner-inner-section .content a i {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
  top: 4px;
}

.middle-section .banner-inner-section .content a:hover {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .banner-inner-section .content a:hover i {
  padding-left: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.middle-section .banner-inner-section .banner-img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .banner-inner-section .banner-img img {
  width: 100%;
  min-width: 402px;
  position: absolute;
  max-height: 403px;
  right: 0;
}

.middle-section .banner-inner-section .owl-theme .owl-dots {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.middle-section .banner-inner-section .owl-theme .owl-dots button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .banner-inner-section .owl-theme .owl-dots button span {
  background-color: transparent;
  border: 1px solid #fff;
}

.middle-section .banner-inner-section .owl-theme .owl-dots .active span {
  background-color: #fff;
}

.middle-section .about-block-section {
  padding: 140px 0 50px 0;
  background-color: #fff;
  overflow: hidden;
}

.middle-section .about-block-section .row-item {
  margin-bottom: 180px;
}

.middle-section .about-block-section .block-content {
  padding: 0 60px;
}

.middle-section .about-block-section .block-content .block-heading {
  margin-bottom: 40px;
}

.middle-section .about-block-section .block-content .block-heading h3 {
  font-size: 44px;
  line-height: 57px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .about-block-section .block-content h4 {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.middle-section .about-block-section .block-content p {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.middle-section .about-block-section .block-img {
  position: relative;
  margin-left: 100px;
}

.middle-section .about-block-section .block-img::after {
  content: "";
  background-image: url(../images/block-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  min-height: 410px;
  right: -50px;
  top: 50px;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.middle-section .about-block-section .block-img .play-circle {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #2e3192;
  position: absolute;
  left: -75px;
  right: auto;
  top: calc(50% - 75px);
  border: 32px solid #fff;
}

.middle-section .about-block-section .block-img .play-circle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.middle-section .about-block-section .block-img .block-feature {
  width: 420px;
  height: 378px;
  z-index: 22;
  position: relative;
}

.middle-section .about-block-section .block-img.right {
  position: relative;
  margin-left: 0;
  margin-right: 100px;
}

.middle-section .about-block-section .block-img.right::after {
  content: "";
  background-image: url(../images/block-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  min-height: 410px;
  left: -50px;
  top: 50px;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.middle-section .about-block-section .block-img.right .play-circle {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #2e3192;
  position: absolute;
  right: -75px;
  left: auto;
  top: calc(50% - 75px);
  border: 32px solid #fff;
}

.middle-section .about-block-section .block-img.right .play-circle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.middle-section .about-block-section .block-img.right .block-feature {
  width: 420px;
  height: 378px;
  z-index: 22;
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.middle-section .technology-integrated-section {
  padding: 120px;
  background-color: #2e3192;
}

.middle-section .technology-integrated-section .integrated-content h3 {
  font-size: 44px;
  color: #fff;
  line-height: 57px;
  margin-bottom: 30px;
  font-family: "Crimson Text", serif;
}

.middle-section .technology-integrated-section .integrated-content P {
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

.middle-section .technology-integrated-section .integrated-content h4 {
  font-size: 22px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}

.middle-section .technology-integrated-section .integrated-img {
  max-width: 440px;
  margin: 0 auto;
}

.middle-section .technology-integrated-section .integrated-img img {
  width: 100%;
}

.middle-section .why-panoceanic-section {
  padding: 160px 0;
  background-color: #fcfcfc;
}

.middle-section .why-panoceanic-section .content h3 {
  font-size: 62px;
  line-height: 68px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .why-panoceanic-section .why-panoceanic-img {
  margin-top: 70px;
}

.middle-section .why-panoceanic-section .why-card {
  padding: 40px;
  border-radius: 10px;
  background-color: #fcfcfc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.middle-section .why-panoceanic-section .why-card .why-img {
  height: 60px;
  width: 60px;
  margin-bottom: 24px;
}

.middle-section .why-panoceanic-section .why-card .why-img img {
  width: 100%;
}

.middle-section .why-panoceanic-section .why-card h3 {
  font-size: 22px;
  line-height: 29px;
  font-family: "Crimson Text", serif;
}

.middle-section .why-panoceanic-section .why-card p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
}

.middle-section .why-panoceanic-section .why-card a.text-readmore {
  display: block;
  color: rgba(46, 49, 146, 0.8);
  text-decoration: underline;
}

.middle-section .why-panoceanic-section .why-card:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f3f3f3;
  -webkit-box-shadow: 20px 20px 40px 0 rgba(46, 49, 146, 0.17);
          box-shadow: 20px 20px 40px 0 rgba(46, 49, 146, 0.17);
}

.middle-section .how-we-work-section {
  padding: 140px 0;
  background-color: #fff;
}

.middle-section .how-we-work-section .heading h3 {
  font-size: 62px;
  line-height: 68px;
  color: #000;
  font-family: "Crimson Text", serif;
  margin-bottom: 25px;
}

.middle-section .how-we-work-section .heading P {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.8);
}

.middle-section .how-we-work-section .timeline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.middle-section .how-we-work-section .timeline ul {
  display: block;
  position: relative;
  width: 100%;
}

.middle-section .how-we-work-section .timeline ul::after {
  content: "";
  height: 100%;
  width: 5px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.middle-section .how-we-work-section .timeline ul::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -10px;
}

.middle-section .how-we-work-section .timeline ul li {
  display: block;
  position: relative;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) {
  margin-left: calc(50% + 15px);
  margin-right: 0;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .row-line {
  position: relative;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .row-line::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #2e3192;
  margin: 0 auto;
  right: 50%;
  top: -10px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .row-line::before {
  content: "";
  height: 1px;
  width: 50%;
  border-radius: 100px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  left: 0;
  right: auto;
  top: 0;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd)::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  left: -25px;
  top: -10px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content {
  position: relative;
  top: -20px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content h3 {
  font-size: 26px;
  line-height: 28px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content P {
  font-size: 18px;
  line-height: 26px;
  color: #181a1b;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) {
  margin-right: calc(50% + 15px);
  margin-left: 0;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .row-line {
  position: relative;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .row-line::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #2e3192;
  margin: 0 auto;
  left: 50%;
  top: -10px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .row-line::before {
  content: "";
  height: 1px;
  width: 50%;
  border-radius: 100px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  right: 0;
  left: auto;
  top: 0;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even)::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100px;
  position: absolute;
  background-color: #2e3192;
  margin: 0 auto;
  right: -25px;
  top: -10px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .content {
  position: relative;
  top: -20px;
  text-align: right;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .content h3 {
  font-size: 26px;
  line-height: 28px;
}

.middle-section .how-we-work-section .timeline ul li:nth-child(even) .content P {
  font-size: 18px;
  line-height: 26px;
  color: #181a1b;
}

.middle-section .belief-section {
  padding: 120px 0;
  background-color: #2e3192;
}

.middle-section .belief-section .heading {
  text-align: center;
}

.middle-section .belief-section .heading h3 {
  font-size: 62px;
  line-height: 68px;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Crimson Text", serif;
}

.middle-section .belief-section .heading P {
  font-size: 26px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
}

.middle-section .belief-section .belief-blocks .about-inner {
  margin: 40px 0 10px 0;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .belief-section .belief-blocks .about-content {
  position: relative;
  float: left;
  width: 100%;
}

.middle-section .belief-section .belief-blocks .about-image {
  position: relative;
  width: 70%;
  float: left;
  height: 420px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.middle-section .belief-section .belief-blocks .about-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.middle-section .belief-section .belief-blocks .about-text {
  position: absolute;
  z-index: 2;
  width: 55%;
  height: auto;
  float: right;
  right: 0;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%);
  background: #1b1d5b;
  -webkit-box-shadow: -10px 15px 44px 0 rgba(0, 0, 0, 0.09);
          box-shadow: -10px 15px 44px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  padding: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.middle-section .belief-section .belief-blocks .about-text .quote {
  width: 38px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.middle-section .belief-section .belief-blocks .about-text h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #fff;
}

.middle-section .belief-section .belief-blocks .about-text p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.middle-section .belief-section .belief-blocks .about-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.2;
}

.middle-section .belief-section .belief-blocks .about-left .about-image {
  float: right;
}

.middle-section .belief-section .belief-blocks .about-inner .about-left {
  left: 0;
}

.middle-section .solution-section {
  padding: 140px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
  background-image: linear-gradient(180deg, #fcfcfc 0%, #f2f2f2 100%);
}

.middle-section .solution-section .heading {
  text-align: center;
  margin-bottom: 60px;
}

.middle-section .solution-section .heading h3 {
  font-size: 44px;
  line-height: 57px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .solution-section .heading P {
  color: #000;
}

.middle-section .solution-section .row-5 {
  margin: 0 -5px;
}

.middle-section .solution-section .row-5 .col-pad-5 {
  padding: 0 5px;
}

.middle-section .solution-section .solution-card {
  padding: 30px;
  border-radius: 6px;
  background-color: #fcfcfc;
  margin-bottom: 20px;
}

.middle-section .solution-section .solution-card .solution-img {
  height: 60px;
  width: 60px;
  margin-bottom: 24px;
}

.middle-section .solution-section .solution-card .solution-img img {
  width: 100%;
}

.middle-section .solution-section .solution-card .solution-body {
  min-height: 250px;
}

.middle-section .solution-section .solution-card h3 {
  font-size: 22px;
  line-height: 29px;
  font-family: "Crimson Text", serif;
}

.middle-section .solution-section .solution-card p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
}

.middle-section .solution-section .solution-card a.btn {
  width: 100%;
  background-color: transparent;
}

.middle-section .solution-section .solution-card:hover {
  background-image: url(../images/card-solution.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.middle-section .solution-section .solution-card:hover h3 {
  color: #fff;
}

.middle-section .solution-section .solution-card:hover p {
  color: #fff;
}

.middle-section .solution-section .solution-card:hover a.btn {
  color: #fff;
  border: 1px solid #fff;
}

.middle-section .banner-contact-section {
  background-color: #fafafa;
  padding: 120px 0 120px 0;
  position: relative;
  overflow: hidden;
}

.middle-section .banner-contact-section::after {
  content: "";
  background-color: #2e3192;
  height: 600px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.middle-section .banner-contact-section .banner-contact-inner {
  position: relative;
}

.middle-section .banner-contact-section .banner-contact-inner::before {
  content: "";
  background-image: url(../images/pattern-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 743px;
  height: 718px;
  position: absolute;
  left: -100px;
  top: 50px;
  z-index: 2;
}

.middle-section .banner-contact-section .banner-contact-inner::after {
  content: "";
  background-image: url(../images/pattern-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 743px;
  height: 718px;
  position: absolute;
  right: -400px;
  top: 20px;
  z-index: 2;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area {
  z-index: 99;
  position: relative;
  padding: 60px 90px;
  background-color: #fff;
  height: 100%;
  display: block;
  -webkit-box-shadow: 0 20px 40px 0 rgba(46, 49, 146, 0.1);
          box-shadow: 0 20px 40px 0 rgba(46, 49, 146, 0.1);
  border-radius: 8px;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .heading {
  text-align: center;
  margin-bottom: 70px;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .heading h2 {
  font-size: 62px;
  line-height: 68px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .heading h3 {
  font-size: 26px;
  line-height: 36px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .heading p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div h3 {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-bottom: 0;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div h3 a {
  color: #000;
}

.middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div a.btn {
  padding: 12px 80px;
  text-transform: uppercase;
}

.middle-section .insights-section {
  padding: 120px 0;
  background-color: #fff;
  overflow: hidden;
}

.middle-section .insights-section .heading {
  text-align: center;
  margin-bottom: 60px;
}

.middle-section .insights-section .heading h3 {
  font-size: 44px;
  line-height: 61px;
  color: #000;
  font-family: "Crimson Text", serif;
}

.middle-section .insights-section .heading p {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.middle-section .insights-section .container-fluid {
  padding: 0;
  max-width: 1920px;
}

.middle-section .insights-section .insights-box {
  padding: 120px 0 170px 90px;
  overflow: hidden;
  background-color: #fff;
  height: 100%;
}

.middle-section .insights-section .insights-box .insights-content h3 {
  font-size: 44px;
  line-height: 57px;
  color: #2e3192;
  font-family: "Crimson Text", serif;
}

.middle-section .insights-section .insights-box .insights-content p {
  max-width: 290px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.middle-section .insights-section .insights-box .insights-content .content {
  margin-bottom: 40px;
}

.middle-section .insights-section .insights-box .insights-content a.btn {
  border-color: rgba(46, 49, 146, 0.6);
  max-width: 250px;
  width: 100%;
  font-size: 14px;
}

.middle-section .insights-section .insights-box .insights-content a.btn:hover {
  background-color: #2e3192;
}

.middle-section .insights-section .insights-box .insights-img {
  position: absolute;
  right: -30px;
  bottom: 0;
  max-width: 300px;
}

.middle-section .insights-section .row-0 {
  margin: 0 !important;
}

.middle-section .insights-section .row-0 .pad-0 {
  padding: 0 !important;
}

.middle-section .insights-section .insights-box.box-grey {
  background-color: #f8f8f8;
}

.middle-section .subscribe-section {
  padding: 120px 0;
  background-color: #2e3192;
}

.middle-section .subscribe-section .subscribe-content h3 {
  font-size: 44px;
  line-height: 55px;
  color: #fff;
  font-family: "Crimson Text", serif;
}

.middle-section .subscribe-section .subscribe-content h4 {
  font-size: 26px;
  line-height: 44px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 80px;
}

.middle-section .subscribe-section .subscribe-content a {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .subscribe-section .subscribe-content a i {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
  top: 4px;
}

.middle-section .subscribe-section .subscribe-content a:hover {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .subscribe-section .subscribe-content a:hover i {
  padding-left: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.middle-section .subscribe-section .subscribe-img {
  max-width: 375px;
  width: 100%;
  margin: 0 0 0 auto;
}

.footer-section {
  padding: 40px 0 0 0;
  background-color: #1b1d5b;
  color: #fff;
}

.footer-section hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
}

.footer-section .logo-footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-section .logo-footer-div .logo-footer {
  padding: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .logo-footer-div .logo-footer span {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  margin-left: 10px;
  font-family: "Crimson Text", serif;
}

.footer-section .logo-footer-div .logo-footer img {
  width: auto;
  height: auto;
  max-width: 160px;
  opacity: 0.5;
}

.footer-section .logo-footer-div .logo-footer::after {
  content: "\e930";
  font-family: "Feather" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  margin-left: 5px;
}

.footer-section .logo-footer-div .footer-link {
  color: #fff;
}

.footer-section .logo-footer-div .footer-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .content-footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 24px;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text .copy-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

.footer-section .copy-right-text ul li a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-section .copy-right-text ul li a:hover {
  color: white;
}

.footer-section .copy-right-text ul li a:last-child {
  border-right: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 49, 146, 0.5);
  /* Black with a little bit see-through */
  z-index: 1100;
}

.overlay .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 100px 20px;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.overlay .overlay-content form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.overlay .overlay-content form input[type="text"] {
  padding: 5px 15px;
  font-size: 40px;
  color: #2e3192;
  letter-spacing: 0.64px;
  font-weight: 500;
  border: none;
  float: left;
  background: #fff;
  width: 80%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
  border-bottom: 1px solid rgba(46, 49, 146, 0.8);
  border-radius: 0 !important;
}

.overlay .overlay-content form input[type="text"]:focus {
  background: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
  border-bottom: 1px solid #2e3192;
}

.overlay .overlay-content .closebtn {
  padding: 10px 20px;
  cursor: pointer;
  z-index: 999;
  color: rgba(46, 49, 146, 0.8);
  font-size: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.overlay .overlay-content .closebtn:hover {
  color: #2e3192;
}

.overlay .overlay-content button {
  float: left;
  padding: 10px 20px;
  background: #fff;
  color: #2e3192;
  font-size: 40px;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 300;
  cursor: pointer;
}

.overlay .overlay-content button:hover {
  background: #fff;
}

@media (max-width: 767px) {
  .overlay .overlay-content {
    padding: 50px 20px;
  }
  .overlay .overlay-content form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .overlay .overlay-content form input[type="text"] {
    padding: 3px 15px;
    font-size: 16px;
    line-height: 20px;
  }
  .overlay .overlay-content form input[type="text"]:focus {
    background: white;
  }
  .overlay .overlay-content .closebtn {
    padding: 10px 15px;
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 0;
  }
  .overlay .overlay-content button {
    float: left;
    padding: 10px 15px;
    font-size: 20px;
  }
  .overlay .overlay-content button:hover {
    background: #fff;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .overlay .overlay-content {
    padding: 50px 20px;
  }
  .overlay .overlay-content form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .overlay .overlay-content form input[type="text"] {
    padding: 5px 15px;
    font-size: 20px;
  }
  .overlay .overlay-content form input[type="text"]:focus {
    background: white;
  }
  .overlay .overlay-content .closebtn {
    padding: 10px 15px;
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 0;
  }
  .overlay .overlay-content button {
    float: left;
    padding: 10px 15px;
    font-size: 20px;
  }
  .overlay .overlay-content button:hover {
    background: #fff;
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 140px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #fff !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: white !important;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: 0px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 10px;
    font-size: 14px;
    top: 3px;
  }
  .header .navbar.fixed-top .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menubar-blue.png);
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #2e3192;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .custom-control-input:checked ~ .custom-control-label::before {
    height: 20px;
    width: 20px;
    background-color: #000;
    border-color: #000;
  }
  .custom-control-label {
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
  }
  .custom-control-label::before {
    height: 20px;
    width: 20px;
  }
  .custom-control-label::after {
    height: 20px;
    width: 20px;
  }
  .middle-section {
    padding-top: 70px;
  }
  .middle-section .banner-section .content {
    padding: 50px 0;
    height: auto;
    min-height: unset;
  }
  .middle-section .banner-section .content h3 {
    font-size: 32px;
    line-height: 36px;
    color: #fff;
  }
  .middle-section .banner-section .content a {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .banner-section .banner-img {
    overflow: hidden;
  }
  .middle-section .trending-section {
    padding-bottom: 40px;
  }
  .middle-section .trending-section .heading {
    margin-bottom: 40px;
  }
  .middle-section .trending-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .trending-section .technology-left .profile .profile-img {
    height: 70px;
    width: 70px;
  }
  .middle-section .trending-section .technology-left .profile .profile-content h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .middle-section .trending-section .technology-left .profile .profile-content p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }
  .middle-section .trending-section .technology-left h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .middle-section .trending-section .owl-theme .owl-nav {
    width: 100%;
    margin: 0 auto;
    top: auto;
    bottom: -30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .trending-section .owl-theme .owl-nav button {
    height: 40px;
    width: 40px;
    position: unset !important;
  }
  .middle-section .trending-section .owl-carousel .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .buisness-needs-section {
    padding: 60px 0;
  }
  .middle-section .buisness-needs-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .buisness-needs-section .buiness {
    max-height: 400px;
    min-height: 400px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box P {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box a {
    height: 40px;
    width: 40px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box {
    padding: 30px 20px;
  }
  .middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
    max-height: 180px;
  }
  .middle-section .buisness-needs-section .owl-theme .owl-nav {
    right: 0;
    top: -80px;
  }
  .middle-section .buisness-needs-section .owl-theme .owl-nav button {
    height: 40px;
    width: 40px;
  }
  .middle-section .testimomnial-section {
    padding: 60px 0 40px 0;
  }
  .middle-section .testimomnial-section::before {
    height: 400px;
    width: 400px;
  }
  .middle-section .testimomnial-section .testimonial-area .testimonials {
    padding: 20px 20px;
  }
  .middle-section .testimomnial-section .testimonial-area .testimonials .testimonial-img {
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
  }
  .middle-section .testimomnial-section .testimonial-area .testimonials h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .middle-section .testimomnial-section .testimonial-area .testimonials .author h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .testimomnial-section .testimonial-area .testimonials .author p {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .more-section .more-card {
    margin-bottom: 30px;
  }
  .middle-section .service-section {
    padding: 60px 0;
  }
  .middle-section .service-section .service-area {
    padding: 40px 30px;
  }
  .middle-section .service-section .service-area .service-content h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .service-section .service-area .service-content h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .middle-section .service-section .service-area .service-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .service-section .service-area .service-content .btn {
    margin-top: 30px;
  }
  .middle-section .service-section .service-area .service-content-logo {
    padding-top: 40px;
  }
  .middle-section .service-section .service-area .service-content-logo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .middle-section .service-section .service-area .service-content-logo ul li {
    height: unset;
    margin: 10px !important;
  }
  .middle-section .service-section .service-area .service-content-logo ul li a {
    height: 120px;
    width: 120px;
  }
  .middle-section .technology-integrated-inner {
    overflow: hidden;
  }
  .middle-section .victory-section {
    padding: 60px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .middle-section .victory-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .victory-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .victory-section .content h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .middle-section .victory-section .content p {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .get-in-touch-section {
    padding: 60px 0;
  }
  .middle-section .get-in-touch-section::before {
    height: 400px;
    width: 400px;
    left: -150px;
  }
  .middle-section .get-in-touch-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .middle-section .get-in-touch-section .form-group .form-control {
    height: 50px;
    font-size: 16px;
  }
  .middle-section .get-in-touch-section .custom-control-label {
    font-size: 14px;
    line-height: 24px;
  }
  .middle-section .get-in-touch-section .submit-div a.btn {
    padding: 12px 40px;
  }
  .middle-section .get-in-touch-section .submit-div h3 {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
  }
  .middle-section .banner-contact-section {
    padding: 60px 0;
  }
  .middle-section .banner-contact-section .banner-contact-inner::after {
    height: 400px;
    width: 400px;
    right: -200px;
  }
  .middle-section .banner-contact-section .banner-contact-inner::before {
    height: 400px;
    width: 400px;
    left: -200px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area {
    padding: 40px 30px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .heading h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .heading h2 {
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .form-group .form-control {
    height: 50px;
    font-size: 16px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .custom-control-label {
    font-size: 14px;
    line-height: 24px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div a.btn {
    padding: 12px 40px;
  }
  .middle-section .banner-contact-section .banner-contact-inner .contact-area .submit-div h3 {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
  }
  .middle-section .banner-inner-section .content {
    padding: 50px 0;
    height: auto;
    min-height: unset;
  }
  .middle-section .banner-inner-section .content h3 {
    font-size: 32px;
    line-height: 36px;
    color: #fff;
  }
  .middle-section .banner-inner-section .content a {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .banner-inner-section .banner-img {
    overflow: hidden;
  }
  .middle-section .about-block-section .block-content .block-heading {
    margin-bottom: 40px;
  }
  .middle-section .about-block-section .block-content .block-heading h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .about-block-section .block-img {
    margin-left: 50px;
  }
  .middle-section .about-block-section .block-img::after {
    min-height: 250px;
  }
  .middle-section .about-block-section .block-img .block-feature {
    width: 100%;
    height: auto;
  }
  .middle-section .about-block-section .block-img .block-feature .play-circle {
    height: 100px;
    width: 100px;
    border: 16px solid #fff;
    left: -50px;
    top: calc(50% - 40px);
  }
  .middle-section .about-block-section .block-img .block-feature .play-circle img {
    width: 100%;
  }
  .middle-section .about-block-section .block-img.right {
    position: relative;
    margin-left: 0;
    margin-right: 50px;
  }
  .middle-section .about-block-section .block-img.right::after {
    min-height: 250px;
  }
  .middle-section .about-block-section .block-img.right .play-circle {
    right: -50px;
    left: auto;
  }
  .middle-section .about-block-section .block-img.right .block-feature {
    width: 100%;
    height: auto;
  }
  .middle-section .about-block-section .row-item-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .technology-integrated-section {
    padding: 60px 0;
  }
  .middle-section .technology-integrated-section .integrated-content {
    padding: 20px 15px;
  }
  .middle-section .technology-integrated-section .integrated-content h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .technology-integrated-section .integrated-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .technology-integrated-section .integrated-content h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .middle-section .technology-integrated-section .integrated-img {
    margin-top: 30px;
    max-width: 250px;
  }
  .middle-section .why-panoceanic-section {
    padding: 60px 0 40px 0;
  }
  .middle-section .why-panoceanic-section .content h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle-section .why-panoceanic-section .why-panoceanic-img img {
    margin: 0 auto;
    max-width: 250px;
    display: block;
  }
  .middle-section .why-panoceanic-section .why-card {
    padding: 25px 20px;
  }
  .middle-section .why-panoceanic-section .why-card h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .middle-section .why-panoceanic-section .why-card p {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .how-we-work-section {
    padding: 60px 0;
  }
  .middle-section .how-we-work-section .heading h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle-section .how-we-work-section .heading P {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .how-we-work-section .timeline {
    margin-top: 60px;
  }
  .middle-section .how-we-work-section .timeline ul::after {
    width: 3px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content {
    top: 0;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content p {
    font-size: 14px;
    line-height: 24px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .row-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .content {
    top: 0;
    padding: 10px 15px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .content h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .content p {
    font-size: 14px;
    line-height: 24px;
  }
  .middle-section .belief-section {
    padding: 60px 0;
  }
  .middle-section .belief-section .heading h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle-section .belief-section .heading p {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .belief-section .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .belief-section .about-inner .about-content {
    width: 100%;
    float: none;
  }
  .middle-section .belief-section .about-inner .about-content .about-image {
    width: 100%;
    height: 300px;
    float: none;
  }
  .middle-section .belief-section .about-inner .about-text {
    padding: 20px 20px;
    position: unset;
    width: 100%;
    top: 0;
    float: none;
    -webkit-transform: none;
            transform: none;
  }
  .middle-section .belief-section .about-inner .about-text h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .middle-section .belief-section .about-inner .about-text P {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .solution-section {
    padding: 60px 0;
  }
  .middle-section .solution-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
    color: #000;
  }
  .middle-section .solution-section .solution-card .solution-body {
    min-height: unset;
    margin-bottom: 30px;
  }
  .middle-section .insights-section {
    padding: 60px 0;
  }
  .middle-section .insights-section .heading h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .insights-section .heading p {
    font-size: 14px;
    line-height: 26px;
  }
  .middle-section .insights-section .insights-box {
    padding: 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .insights-section .insights-box .insights-img {
    width: 100%;
    position: unset;
    max-width: 200px;
    margin: 20px auto;
  }
  .middle-section .insights-section .insights-box .insights-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .middle-section .insights-section .insights-box .insights-content P {
    font-size: 14px;
    line-height: 24px;
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-content a.btn {
    width: auto;
    max-width: unset;
    padding: 10px 45px;
  }
  .middle-section .insights-section .mobile-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .subscribe-section {
    padding: 60px 0;
  }
  .middle-section .subscribe-section .subscribe-content h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .middle-section .subscribe-section .subscribe-content h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .middle-section .subscribe-section .subscribe-content a.text-link {
    font-size: 16px;
    line-height: 20px;
  }
  .middle-section .subscribe-section .subscribe-img {
    margin: 50px auto 30px auto;
    max-width: 250px;
  }
  .footer-section {
    padding-top: 30px;
  }
  .footer-section .copy-right-text .copy-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-section .copy-right-text .copy-inner ul {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .middle-section .banner-section .banner-img img {
    position: relative;
    min-width: unset;
  }
  .middle-section .banner-inner-section .banner-img {
    padding: 50px 30px;
  }
  .middle-section .banner-inner-section .banner-img img {
    position: relative;
    min-width: unset;
    max-height: unset;
  }
  .middle-section .about-block-section {
    padding: 60px 0;
  }
  .middle-section .about-block-section .block-content {
    padding: 20px 10px;
  }
  .middle-section .about-block-section .block-content h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .middle-section .insights-section .insights-box {
    padding: 50px 30px 0 30px;
    overflow: hidden;
    text-align: left;
  }
  .middle-section .insights-section .insights-box .insights-content {
    max-width: 350px;
  }
  .middle-section .insights-section .insights-box .insights-content p {
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-img {
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    padding: 8px 8px;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .middle-section .insights-section .insights-box {
    padding: 50px 60px 0 60px;
    overflow: hidden;
    text-align: left;
  }
  .middle-section .insights-section .insights-box .insights-content {
    max-width: 400px;
  }
  .middle-section .insights-section .insights-box .insights-content p {
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-img {
    max-width: 200px;
    right: -10px;
    margin: 30px 0 0 auto;
    position: relative;
  }
  .middle-section .solution-section .solution-card .solution-body {
    min-height: unset;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(odd) .content h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .content h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box {
    padding: 30px 20px;
  }
  .middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
    max-height: 160px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 140px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #fff !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: white !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn a {
    background-color: #ed5c37;
    color: #fff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn a:hover {
    background-color: #fff;
    color: #ed5c37;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: 0px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 15px;
    font-size: 14px;
    top: 2px;
  }
  .header .navbar.fixed-top .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menubar-blue.png);
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #2e3192;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .trending-section .owl-theme .owl-nav {
    width: 100%;
    margin: 0 auto;
    bottom: -60px;
    top: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .trending-section .owl-theme .owl-nav button {
    right: 0 !important;
    left: 0 !important;
    position: unset !important;
  }
  .middle-section .about-block-section .row-item-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .technology-integrated-section .integrated-img img {
    max-width: 400px;
    margin: 40px auto 0 auto;
  }
  .middle-section .why-panoceanic-section .why-panoceanic-img {
    max-width: 400px;
    margin: 30px auto;
  }
  .middle-section .insights-section .mobile-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .insights-section .insights-box {
    padding: 50px 60px;
    overflow: hidden;
    text-align: left;
  }
  .middle-section .insights-section .insights-box .insights-content {
    max-width: 400px;
  }
  .middle-section .insights-section .insights-box .insights-content p {
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-img {
    max-width: 200px;
    right: -10px;
    margin: 30px auto;
    position: absolute;
  }
  .middle-section .subscribe-section .subscribe-img {
    margin: 50px auto;
  }
  .middle-section .belief-section .belief-blocks .about-image {
    height: 480px;
  }
  .middle-section .belief-section .belief-blocks .about-text {
    padding: 30px 25px;
  }
  .middle-section .belief-section .belief-blocks .about-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .how-we-work-section {
    padding: 80px 0;
  }
  .middle-section .how-we-work-section .timeline ul li:nth-child(even) .content {
    top: 0;
    padding-top: 20px;
  }
  .middle-section .why-panoceanic-section {
    padding: 80px 0 40px 0;
  }
  .middle-section .banner-inner-section .content h3 span {
    display: inline-block;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box {
    padding: 30px 20px;
  }
  .middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
    max-height: 200px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box h3 {
    font-size: 35px;
  }
  .middle-section .service-content-logo {
    padding-top: 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 10px;
  }
  .middle-section .trending-section .owl-theme .owl-nav {
    width: 100%;
    margin: 0 auto;
    bottom: -50px;
    top: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .trending-section .owl-theme .owl-nav button {
    right: 0 !important;
    left: 0 !important;
    position: unset !important;
  }
  .middle-section .service-section .service-area .service-content-logo ul li a {
    width: 120px;
    height: 120px;
  }
  .middle-section .solution-section .solution-card .solution-body {
    min-height: 250px;
  }
  .middle-section .how-we-work-section {
    padding: 80px 0 60px 0;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box {
    padding: 30px 20px;
  }
  .middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
    max-height: 160px;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box h3 {
    font-size: 35px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
  .middle-section .insights-section .insights-box {
    padding: 50px 40px 0 40px;
    overflow: hidden;
    text-align: left;
  }
  .middle-section .insights-section .insights-box .insights-content {
    max-width: 350px;
  }
  .middle-section .insights-section .insights-box .insights-content h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .middle-section .insights-section .insights-box .insights-content p {
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-img {
    position: relative;
    max-width: 200px;
    right: -4 0;
    margin: 30px 0 0 auto;
  }
  .middle-section .buisness-needs-section .buiness .buisness-box {
    padding: 30px 20px;
  }
  .middle-section .buisness-needs-section .buiness:hover .buisness-box .featured {
    max-height: 200px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
  .middle-section .service-section .service-area .service-content-logo ul li a {
    width: 120px;
    height: 120px;
  }
  .middle-section .solution-section .solution-card .solution-body {
    min-height: 250px;
  }
  .middle-section .insights-section .insights-box {
    padding: 50px 40px 0 40px;
    overflow: hidden;
    text-align: left;
  }
  .middle-section .insights-section .insights-box .insights-content {
    max-width: 350px;
  }
  .middle-section .insights-section .insights-box .insights-content p {
    max-width: unset;
  }
  .middle-section .insights-section .insights-box .insights-img {
    max-width: 200px;
    right: -30px;
    margin: 30px 0 0 auto;
    position: relative;
  }
  .middle-section .insights-section .mobile-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .middle-section .about-block-section .row-item-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=custom.css.map */